# Masking NetCDF with SHP

In this example we will put both atmospheric gridded data and SHP data into the same custom grid of our choice.

We first load useful libraries

In [7]:
import xarray as xr
import pandas as pd
import numpy as np
import geopandas as gp
from scipy.interpolate import griddata
import shapely
from shapely.geometry import Polygon
from shapely.geometry import Point
import rioxarray
import warnings
warnings.filterwarnings("ignore")

We now set the number of columns displayed when inspecting a geopandas

In [8]:
pd.set_option('display.max_columns', 500)

## Masking NetCDF

Let's start with an .nc file.

In [9]:
fwi_file = '../../DATA/wind.nc'
fwi = xr.open_dataset(fwi_file)

The selected wind speed is the first bucket

In [10]:
fire = fwi.to_dataframe()

In [11]:
fire = fire.reset_index()
fire

       FNOCXN79_64  FNOCY                TIME      UWND
0           -180.0  -90.0 1982-01-16 20:00:00 -1.478853
1           -180.0  -87.5 1982-01-16 20:00:00 -3.068279
2           -180.0  -85.0 1982-01-16 20:00:00 -3.298688
3           -180.0  -82.5 1982-01-16 20:00:00 -2.568443
4           -180.0  -80.0 1982-01-16 20:00:00 -2.632418
...            ...    ...                 ...       ...
10507        177.5   80.0 1982-01-16 20:00:00  0.337623
10508        177.5   82.5 1982-01-16 20:00:00  1.506148
10509        177.5   85.0 1982-01-16 20:00:00  2.055861
10510        177.5   87.5 1982-01-16 20:00:00 -0.391967
10511        177.5   90.0 1982-01-16 20:00:00 -3.969016

[10512 rows x 4 columns]

In [13]:
fire_gdf = gp.GeoDataFrame(fire, geometry=gp.points_from_xy(fire.FNOCXN79_64, fire.FNOCY))

In [14]:
fire_perimeter = gp.read_file('../../DATA/cb_2018_us_nation_20m.shp')

In [15]:
fire_gdf.crs = fire_perimeter.crs

In [16]:
mask = gp.clip(fire_gdf, fire_perimeter)

In [17]:
mask

,FNOCXN79_64,FNOCY,TIME,UWND,geometry
791,-155.0,62.5,1982-01-16 20:00:00,-6.186352,POINT (-155.00000 62.50000)
645,-160.0,62.5,1982-01-16 20:00:00,-5.628484,POINT (-160.00000 62.50000)
718,-157.5,62.5,1982-01-16 20:00:00,-6.021107,POINT (-157.50000 62.50000)
500,-165.0,65.0,1982-01-16 20:00:00,-5.591188,POINT (-165.00000 65.00000)
719,-157.5,65.0,1982-01-16 20:00:00,-5.507828,POINT (-157.50000 65.00000)
...,...,...,...,...,...
2604,-92.5,32.5,1982-01-16 20:00:00,0.308893,POINT (-92.50000 32.50000)
2458,-97.5,32.5,1982-01-16 20:00:00,0.717008,POINT (-97.50000 32.50000)
2239,-105.0,32.5,1982-01-16 20:00:00,1.950205,POINT (-105.00000 32.50000)
2166,-107.5,32.5,1982-01-16 20:00:00,1.453279,POINT (-107.50000 32.50000)
2167,-107.5,35.0,1982-01-16 20:00:00,1.573771,POINT (-107.50000 35.00000)