# Masking NetCDF with SHP

In this example we will put both atmospheric gridded data and SHP data into the same custom grid of our choice.

We first load useful libraries

In [1]:
import xarray as xr
import pandas as pd
import numpy as np
import geopandas as gp
from scipy.interpolate import griddata
import shapely
from shapely.geometry import Polygon
from shapely.geometry import Point
import rioxarray
import warnings
warnings.filterwarnings("ignore")

/opt/anaconda3/envs/geo_env/lib/python3.10/site-packages/pyproj/__init__.py:89: UserWarning: pyproj unable to set database path.
  _pyproj_global_context_initialize()

We now set the number of columns displayed when inspecting a geopandas

In [2]:
pd.set_option('display.max_columns', 500)

## Regridding NetCDF

Let's start with an .nc file.

In [3]:
fwi_file = '../../DATA/wind.nc'
fwi = xr.open_dataset(fwi_file)

The selected wind speed is the first bucket

In [4]:
fire = fwi.to_dataframe()

In [5]:
fire = fire.reset_index()
fire

                       time  longitude  latitude  fwi
0       2021-07-15 12:00:00       0.00     90.00  NaN
1       2021-07-15 12:00:00       0.00     89.75  NaN
2       2021-07-15 12:00:00       0.00     89.50  NaN
3       2021-07-15 12:00:00       0.00     89.25  NaN
4       2021-07-15 12:00:00       0.00     89.00  NaN
...                     ...        ...       ...  ...
1038235 2021-07-15 12:00:00     359.75    -89.00  NaN
1038236 2021-07-15 12:00:00     359.75    -89.25  NaN
1038237 2021-07-15 12:00:00     359.75    -89.50  NaN
1038238 2021-07-15 12:00:00     359.75    -89.75  NaN
1038239 2021-07-15 12:00:00     359.75    -90.00  NaN

[1038240 rows x 4 columns]

In [6]:
fire_gdf = gp.GeoDataFrame(fire, geometry=gp.points_from_xy(fire.longitude, fire.latitude))

In [23]:
fire_perimeter = gp.read_file('../../DATA/cb_2018_us_nation_20m.shp')

In [24]:
fire_gdf.crs = fire_perimeter.crs

In [25]:
mask = gp.clip(fire_gdf, fire_perimeter)

In [26]:
mask

,time,longitude,latitude,fwi,geometry
512062,2021-07-15 12:00:00,177.50,52.00,0.098022,POINT (177.50000 52.00000)
498359,2021-07-15 12:00:00,172.75,53.00,0.592773,POINT (172.75000 53.00000)
501245,2021-07-15 12:00:00,173.75,52.50,0.059906,POINT (173.75000 52.50000)
501965,2021-07-15 12:00:00,174.00,52.75,0.101400,POINT (174.00000 52.75000)
516390,2021-07-15 12:00:00,179.00,51.50,0.017480,POINT (179.00000 51.50000)