# Read JSON file and convert it to Pandas dataframe

In this notebook an input JSON file with data containing date and losses associated with volcano eruptions among many other variables is first read and then stored into a Pandas dataframe.

We first import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import json

The data we read is the volcano eruptions database from the DATA folder

In [2]:
data_path = '../../DATA/volcanic-eruption-database.json'

We use the .load function in the json library

In [6]:
with open(data_path) as f:
    data = json.load(f)

The data is now stored as an array. We can check out the content of the first element here:

In [9]:
data[0]

{'year': 2010,
 'month': '07',
 'day': '03',
 'tsu': None,
 'eq': None,
 'name': 'Stromboli',
 'location': 'Italy',
 'country': 'Italy',
 'elevation': 926,
 'type': 'Stratovolcano',
 'status': 'Historical',
 'vei': 2,
 'deaths': 1,
 'deaths_description': 'Few (~1 to 50 deaths)',
 'missing': None,
 'missing_description': None,
 'injuries': 1.0,
 'injuries_description': 'Few (~1 to 50 deaths)',
 'damage_millions_dollars': None,
 'damage_description': None,
 'houses_destroyed': None,
 'houses_destroyed_description': None,
 'total_deaths': 1,
 'total_deaths_description': 'Few (~1 to 50 deaths)',
 'total_missing': None,
 'total_missing_description': None,
 'total_injuries': 1.0,
 'total_injuries_description': 'Few (~1 to 50 deaths)',
 'total_damage_millions_dollars': 5,
 'total_damage_description': None,
 'total_houses_destroyed': None,
 'total_houses_destroyed_description': None,
 'coordinates': {'lon': 15.213, 'lat': 38.789},
 'houses_damaged_description': None,
 'total_houses_damaged_description': None}

We now create a dataframe in Pandas and assign the desired JSON fields to Pandas columns

In [4]:
content = pd.DataFrame()
content['year']=list(map(lambda data: data['year'], data))
content['name']=list(map(lambda data: data['name'], data))
content['loss']=list(map(lambda data: data['total_damage_millions_dollars'], data))
content

     year             name    loss
0    2010        Stromboli       5
1    2010            Bromo    5.55
2    2010       Tunguruhua  160.22
3    1982       Galanggung     100
4    1990          Kilauea   100.5
..    ...              ...     ...
843  2006  Soufriere Hills    None
844  2015          Calbuco    None
845  2017    Campi Flegrei    None
846  2018          Kadovar    None
847  2018             Ijen    None

[848 rows x 3 columns]

The output shows the original JSON data structured into Pandas with the column names we have defined.