We first import the required modules

In [4]:
import numpy as np
import pandas as pd
import json

We first read the blablabla

In [13]:
data_path = '../../DATA/volcanic-eruption-database.json'

More

In [14]:
with open(data_path) as f:
    data = json.load(f)

More

In [20]:
content = pd.DataFrame()
content['year']=list(map(lambda data: data['year'], data))
content['name']=list(map(lambda data: data['name'], data))
content['loss']=list(map(lambda data: data['total_damage_millions_dollars'], data))
content

     year             name    loss
0    2010        Stromboli       5
1    2010            Bromo    5.55
2    2010       Tunguruhua  160.22
3    1982       Galanggung     100
4    1990          Kilauea   100.5
..    ...              ...     ...
843  2006  Soufriere Hills    None
844  2015          Calbuco    None
845  2017    Campi Flegrei    None
846  2018          Kadovar    None
847  2018             Ijen    None

[848 rows x 3 columns]