# Read a NetCDF file and convert it into DAT format

In this notebook we read a NetCDF file with worldwide wind speed data and we convert it into DAT format.

We first load useful libraries

In [2]:
import pandas as pd
import numpy as np
import netCDF4
import warnings
warnings.filterwarnings("ignore")

We open the file as NetCDF format

In [3]:
data = netCDF4.Dataset('../../DATA/wind.nc')

We extract the coordinates and the variables to be included into the DAT file

In [4]:
lons = data.variables['FNOCXN79_64'][:]
lats = data.variables['FNOCY'][:]
unwd = data.variables['UWND'][0,:,:]

We create empty arrays to store the coordinates and the variable

In [6]:
lati = []
loni = []
wind = []

We assign the values to the arrays iterating along the coordinates length.

In [7]:
for j in range(0,len(unwd)):
    for i in range(0,len(unwd[0])):
        lati.append(float(lats[j]))
        loni.append(float(lons[i]))
        wind.append(float(unwd[j,i]))

We store the arrays in a pandas dataframe

In [8]:
panda = pd.DataFrame({"lat":lati[:],"lon":loni[:],"wind":wind[:]})
panda

        lat    lon      wind
0     -90.0 -180.0 -1.478853
1     -90.0 -177.5 -1.485287
2     -90.0 -175.0 -1.491434
3     -90.0 -172.5 -1.497459
4     -90.0 -170.0 -1.504180
...     ...    ...       ...
10507  90.0  167.5 -3.969016
10508  90.0  170.0 -3.969016
10509  90.0  172.5 -3.969016
10510  90.0  175.0 -3.969016
10511  90.0  177.5 -3.969016

[10512 rows x 3 columns]

There are two ways in which we can store the wind data into a DAT file. The first one using the values of the pandas dataframe

In [14]:
np.savetxt(r'../../OUTPUT/wind.dat', panda.values, fmt='%d')

The second one using the array containing the wind values and the .tobytes( ) function

In [18]:
wind_array = np.array(wind)
wind_float = wind_array.astype(np.float32).tobytes()
np.save('../../OUTPUT/wind_float.dat', wind_float)