# Convert NetCDF to JSON

We first load useful libraries

In [58]:
import pandas as pd
import netCDF4
import warnings
warnings.filterwarnings("ignore")

We open the file as NetCDF format

In [59]:
data = netCDF4.Dataset('../../DATA/wind.nc')

We extract the coordinates and the variables to be included into the JSON file

In [70]:
lons = data.variables['FNOCXN79_64'][:]
lats = data.variables['FNOCY'][:]
unwd = data.variables['UWND'][0,:,:]

We create empty arrays to store the coordinates and the variable

In [71]:
lati = []
loni = []
wind = []

We assign the values to the arrays iterating along the coordinates length every other two gridpoints

In [72]:
for j in range(0,len(unwd)):
    for i in range(0,len(unwd[0])):
        lati.append(float(lats[j]))
        loni.append(float(lons[i]))
        wind.append(float(unwd[j,i]))
len(wind)

10512

We store the arrays in pandas

In [73]:
panda = pd.DataFrame({"lat":lati[:],"lon":loni[:],"wind":wind[:]})
panda

        lat    lon      wind
0     -90.0 -180.0 -1.478853
1     -90.0 -177.5 -1.485287
2     -90.0 -175.0 -1.491434
3     -90.0 -172.5 -1.497459
4     -90.0 -170.0 -1.504180
...     ...    ...       ...
10507  90.0  167.5 -3.969016
10508  90.0  170.0 -3.969016
10509  90.0  172.5 -3.969016
10510  90.0  175.0 -3.969016
10511  90.0  177.5 -3.969016

[10512 rows x 3 columns]

In [ ]:
panda.reset_index().to_json(orient='records',path_or_buf='../../DATA/wind.json')